<hr />
<div class="text">
  <span class="label">Csoport</span> {{await eventGroup}}
</div>
<div class="text">
  <span class="label">Labor helyszíne</span> {{await eventPlace}}
</div>
<div class="text">
  <span class="label">Labor időpontja</span> {{dateformat (await eventDate)}}
</div>
<div class="text">
  <span class="label">Határidő</span> {{dateformat (await eventDeadline)}}
</div>

{{table-component rowIndecies=rowIndecies header=header body=(await events) addClass='demonstrator-table' onClickRowAction='evaluateEvent' clickable=true evaluateEvent=(action "evaluateEvent")}}
